<div>
  <a href="https://www.messenger.com/t/huutai0507988" target="_blank">
    <img style="width: 70px; height: 70px; z-index: 15; position: fixed; left: 93%; top: 85%;"
      src="images/images/Messenger-sua-loi-logo200.png" alt="">
    <img src="images/images/ChatVoiToi.png"
      style="width: 100px; height: 70px; z-index: 10; position: fixed; left: 92%; top: 75%; color: black; font-size: 16px;"
      alt="">
  </a>
</div>